decompiled/
dll/
bepinex6/
bepinex6_be/
bepinex_staging/
data_live/
mod_study/
i18n_release/
i18n_sourse/
plugin_keep/
*.zip
*.log
**/bin/
**/obj/
lang_src/*.txt
весь контекст старой нейронки.txt
lang_src/prefab_extract_tmp/
lang_src/old_import_report.json
__pycache__/
dist/
lang_src/candidates_keys.json
lang_src/stale_native_mods_backup/
lang_src/prefab_extract_tmp2/
catalog/prefabs_new_chargen.json
