## Settings file was created by plugin Ostranauts RusPatch Debug Tools v1.0.0
## Plugin GUID: com.ostranauts.ruspatch.debugtools

[Profiling]

## Debug only: automatically unpause after loading.
# Setting type: Boolean
# Default value: false
AutoUnpauseOnLoad = false

## Debug only: target time scale after load (1..16).
# Setting type: Single
# Default value: 8
TargetTimeScale = 8

