## Settings file was created by plugin Ostranauts RusPatch Action Log v1.0.0
## Plugin GUID: com.ostranauts.ruspatch.actionlog

[ActionLog]

## If true, appends normalized 'clean' text column for faster downstream analysis.
# Setting type: Boolean
# Default value: true
IncludeCleanColumn = true

